#list-mode-btn,
#card-mode-btn {
  cursor: pointer;
  font-size: 1.5rem;
}

.card-img-container {
  overflow: hidden;
}
.card-img-top {
  transition: transform 500ms ease-in;
}
.card-img-top:hover {
  transform: scale(1.2);
}
